{{!-- This is the post loop - each post will be output using this markup --}}
{{#foreach posts}}
  {{#has tag="macro"}}
    <div class="macro-post">
      <div class="post-header">
        <h1>{{title}}</h1>
        <p>{{ content }}</p>
      </div>
      {{> "loop-projects"}}
    </div>
  {{/has}}
{{/foreach}}
