{{#if @blog.navigation}}
  <ul class="list">
    {{#foreach navigation}}
      <li class="{{#if current}}nav-current{{/if}}">
        <a class="no-underline color-grey-md animation-hover" href="{{url absolute="true"}}">{{label}}</a>
      </li>
    {{/foreach}}
  </ul>
{{/if}}
