{{!< default}}

{{#post}}

  <main role="main">

    <div class="post-header">
      <h1>{{title}}</h1>
    </div>

    <article>
      
      <section class="post-content">
        {{content}}
      </section>

      {{> "post-footer"}}

    </article>

  </main>

{{/post}}
