body {
  margin: 0;
}

.nav-current a {
  color: $black;
  &:hover {
    opacity: 1;
  }
}

nav {
  width: 224px;
  .list {
    margin-top: 66px;
  }
  @include bp(800) {
    width: 100%;
    flex-direction: row !important;
    justify-content: space-between;
    p {
      display: none;
    }
    .list, .nav-wrap {
      transition: .3s all ease;
    }
    .list {
      visibility: hidden;
      position: relative;
      padding: 84px 0;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      visibility: hidden;
      background-color: rgba($white, 0.95);
      opacity: 0;
      display: flex;
      justify-content: space-between;
      margin: 0;
      flex-direction: column;
      li {
        padding: 8px 24px;
        opacity: 0;
        font-size: 24px;
        text-align: center;
        transition: .6s all ease;
      }
    }
  }
}

#menu {
  display: none;
  padding: 6px 16px;
  transition: .3s all ease;
  z-index: 2;
  position: relative;
  div {
    @include selection-color(none);
  }
  .menu-icon {
    margin-left: 8px;
  }
  &:hover {
    cursor: pointer;
  }
  @include bp(800) {
    display: flex;
  }
  &.active {
    color: $grey-md;
    &+.list {
      justify-content: space-between;
      opacity: 1;
      visibility: visible;
      padding: 184px 0;
      li {
        opacity: 1;
      }
    }
  }
}

.content {
  max-width: 720px;
}

.tag {
  height: 24px;
  line-height: 24px;
  padding: 0 10px;
  &:not(&:first-child) {
    margin-left: 12px;
  }
}
