body {
  margin: 0;
}

.nav-current a {
  color: $black;
}

nav {
  width: 224px;
  .list {
    margin-top: 66px;
  }
}

.content {
  max-width: 720px;
}

header {
  height: 150px;
}

.tag {
  height: 24px;
  line-height: 24px;
  padding: 0 10px;
  &:not(&:first-child) {
    margin-left: 12px;
  }
}
