body {
  margin: 0;
}

.nav-current a {
  color: $black;
  &:hover {
    opacity: 1;
  }
}

nav {
  width: 224px;
  .list {
    margin-top: 66px;
  }
  @include bp($bp-l) {
    width: 100%;
    flex-direction: row !important;
    justify-content: space-between;
    p {
      display: none;
    }
    h2 {
      margin-top: 0;
    }
    .list, .nav-wrap {
      transition: .3s all ease;
    }
    .list {
      visibility: hidden;
      position: relative;
      padding: 84px 0;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      visibility: hidden;
      background-color: rgba($white, 0.95);
      opacity: 0;
      display: flex;
      justify-content: space-between;
      margin: 0;
      flex-direction: column;
      li {
        padding: 8px 24px;
        opacity: 0;
        font-size: 24px;
        text-align: center;
        transition: .6s all ease;
      }
    }
    @include bp($bp-s) {
      padding: 32px 0 0;
    }
  }
}

#menu {
  display: none;
  transition: .3s all ease;
  z-index: 2;
  position: relative;
  align-items: center;
  div {
    @include selection-color(none);
  }
  .menu-icon {
    width: 16px;
    > div {
      border-top: 1.5px solid $black;
      width: 100%;
      transition: all .3s ease;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &:hover {
    cursor: pointer;
  }
  @include bp($bp-l) {
    display: flex;
  }
  &.active {
    color: $grey-md;
    .menu-icon {
      position: relative;
      > div {
        border-top-color: $grey-md;
        &:first-child, &:last-child {
          position: absolute;
          top: 50%;
        }
        &:first-child {
          margin-bottom: 0;
          transform: rotateZ(-45deg);
        }
        &:nth-child(2) {
          opacity: 0;
          visibility: hidden;
          margin-bottom: 0;
        }
        &:last-child {
          transform: rotateZ(45deg);
        }
      }
    }
    &+.list {
      justify-content: space-between;
      opacity: 1;
      visibility: visible;
      padding: 184px 0;
      li {
        opacity: 1;
      }
    }
  }
}

.content {
  max-width: 720px;
}

.tag {
  height: 24px;
  line-height: 24px;
  padding: 0 10px;
  &:not(&:first-child) {
    margin-left: 12px;
  }
}
