.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.align-self-center {
  align-self: center;
}

.align-items-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}
