.container {
  max-width: 1040px;
  margin: 40px auto 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 40px 40px;
  @include bp(800) {
    flex-direction: column;
  }
  @include bp(520) {
    padding: 0 16px 16px;
    margin-top: 0;
  }
}

main {
  padding-top: 80px;
}
