.overflow-hidden {
  overflow: hidden;
}

.overflow-x-hidden {
  overflow-x: hidden;
}


.truncate {
  max-width: 80%;
  padding-bottom: 2px;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
