.post-header {
  img {
    width: 100%;
  }
}

.projects {
  margin-top: 24px;
}

.project {
  border: 1px $grey-lt solid;
  padding: 0 24px;
  height: 64px;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  margin-bottom: 16px;
  a {
    transition: .4s all;
    &:hover {
      color: $black;
    }
  }
  @include bp($bp-s) {
    height: auto;
    padding: 1rem;
    &-header {
      display: flex;
      flex-direction: column;
      time {
        display: none;
      }
      .truncate {
        white-space: normal;
        max-width: none;
        line-height: 24px;
        padding-bottom: 0;
      }
    }
    &-tags .list {
      margin: 0;
    }
  }
}

.macro-post {
  margin-bottom: 104px;
}

.post-footer {
  border-bottom: 1px solid $grey-lt;
  padding: 24px 0;
  margin-bottom: 104px;
}

.post-content {
  img {
    max-width: 100%;
  }
}
