.post-header {
  img {
    width: 100%;
  }
}

.projects {
  margin-top: 24px;
}

.project {
  height: 64px;
  border: 1px $grey-lt solid;
  padding: 0 24px;
  margin-bottom: 16px;
  a {
    transition: .4s all;
    &:hover {
      color: $black;
    }
  }
  @include bp($bp-s) {
    height: auto;
    padding: 1rem;
    &-header {
      flex-direction: column;
      time {
        display: none;
      }
    }
  }
}

.macro-post {
  margin-bottom: 104px;
}

.post-footer {
  border-bottom: 1px solid $grey-lt;
  padding: 24px 0;
  margin-bottom: 104px;
}

.post-content {
  img {
    max-width: 100%;
  }
}
