$sans-serif: -apple-system, BlinkMacSystemFont,
             'avenir next', avenir,
             'helvetica neue', helvetica,
             ubuntu,
             roboto, noto,
             'segoe ui', arial,
             sans-serif;

$serif: georgia,
        times,
        serif;

@each $key, $color in $colors {
  .color-#{$key} {
    color: $color;
  }
}

h1, h2, h3, p, a, div {
  font-family: $sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3 {
  font-weight: normal;
  font-size: 1.125rem;
}

h1 {
  color: $black;
  text-transform: capitalize;
}

h2 {
  color: $grey-md;
}

h3 {
  color: $grey-md;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 32px 0 24px;
}

p, li {
  color: $grey-dk;
  font-size: 1.125rem;
  line-height: 2.25rem;
}

.headline {
  font-size: 1.75rem;
}
.subheadline {
  line-height: 1.75rem;
}

a {
  color: $green;
}

.no-underline { text-decoration: none; }

.list {
  list-style-type: none;
  padding-left: 0;
}

.f7 { font-size: .75rem; }

.lh-solid { line-height: 1; }
